# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# VSCode / IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Virtual environments
env/
venv/
ENV/
